:root{
    
    --white: whitesmoke;
    --blackbackground: #000;
    --green: #7ac88e;
    font-family: 'Courier New', Courier, monospace;
}
* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Element selectors */

body {
background-color: var(--blackbackground);
display: flex;
flex-direction: column;
justify-content: flex-start;
}


p { 
    display: block;
    font-size:large;
    color: var(--green);
    padding-top: 15px;
    width: 550px;
    height: 175px;
    text-align: center;
    border-style: solid;
    border-color: aliceblue;
    border-width: 3px;
    margin-bottom: 3rem;
}
/* Universal selectors end here */

/* Class selectors */
.text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }
  
/* header and nav bar begin here */
.header {
    padding: 20px;
    background-color: var(--blackbackground);
    color: var(--green);
    
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    padding-right: 2%;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: var(--green);
    text-decoration:underline;
}

/* avatar image */

#avatar{

    width: 80px;
    height: 80px;
    border: 0.2em solid var(--green);
    border-radius: 50%;
    
}
/* Hoover grow effect on nav items */

.hoover-grow {
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hoover-grow:hover,
.hoover-grow:focus,
.hoover-grow:active {
    transform: scale(1.1);
}

/* Body begins */

/* Intro article starts here */
.about-me{
    position:static;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 28.5%;
    padding-top: 2%;
    
    
} 

.about-me h2{
    font-size: 60px;
    color: var(--green);
    padding: 10px;
    width: 60%;
    height: 100%;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    
}
.about-me-box{
    padding: 10px;
    width: 30%;
    height: 100%;
    text-align: center;
    border-style: solid;
    border-width: 3px;
}

.about-me p{
    background-color: var(--green);
    color: var(--blackbackground);
    padding-bottom: 2%;
}




/* Info Section - */

.project

.project-box {
    padding: 10px;
    width: 250px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    
}
#info-section{
    background-color: var(--blackbackground);
    color: var(--green);
    display: flex;
    flex-direction: column;
    /* Centers along the main axis determined by flex-direction */
    justify-content: space-between;
    /* Centers along the opposite axis */
    align-items: center;
    width: 90%;
    /* Uses the height of the viewport */
    height: 2000px;
    margin: 0 auto;
    border-style: solid;
    border-color: var(--green);
    border-width: 2px;
    padding: 2rem;
}

#contact-me {
    color:var(--green);
    padding: 15px
}

#name-text {
    color: var(--green);
}

#email-text {
    color: var(--green);
}
.project-box {
    padding: 10px;
    width: 250px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    margin: 3rem;
}

/* Contact me section */

.section h3{
    color: var(--green);
    font-size: x-large;

}

.contact

section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    
}

  /* Center the form on the page */


form {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid var(--green);
    border-radius: 20px;
}

label {
    display: inline-block;
    width: 100px;
}

input, 
textarea {
    box-sizing: border-box;
    width: 300px;
    border: 2px solid var(--green);
}

textarea {
    vertical-align: top;
    height: 60px;
}

.form-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button {
    font-weight: bold;
    display: flex;
    text-align: center;
    height: 40px;
    width: 120px;
    border-radius: 10%;
    background-color: var(--white);
    color: var(--green);
    align-items: center;
    justify-content: space-around;
}


/* Footer */

footer h3 {
    color: var(--white);
}
.social{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}


footer section{
    text-align: right;
}
/* foot ends */

/* media sizing for
- Small ≥576px
- Medium ≥768px
- Large	≥992px
- Extra large	≥1200px
- Extra extra large	≥1400px */
@media screen and (max-width: 1400px){
    .about-me-box h2 {
        font-size: 31px;
        margin-left: 60.05px;
    }
    .about-me p {
      margin-right: 60.05px;  
    }
    } 
@media screen and (max-width: 1200px){
    .about-me-box h2 {
        font-size: 35px;
        margin-right: 60px;
    }
    .about-me p {
      margin-right: 60px;  
    }
    }    
@media screen and (max-width:992px){
    .about-me-box h2 {
        font-size: 25px;
        margin-left: 49.6px;
    }
    .about-me p {
        margin-right: 49.60px;
    }
}
@media screen and (max-width:768px){
    .about-me-box h2 {
        font-size: 15px;
        margin-left: 38.39px;
    }
    .about-me p {
        margin-right: 38.39px;
    }
}
@media screen and (max-width:576px){
    .about-me-box h2 {
        font-size: 8px;
        margin-left: 28.79px;
    }
    .about-me p {
        margin-right: 28.79px;
        font-size: 16px;
    }
    footer h3{
        font-size: 15px;
    }
}  
